<div class="container-fluid">
  <h3>Novo Usuário Portaria</h3>
  <form class="row g-3">
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Nome Completo:</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">CPF:</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-4">
      <label for="inputAddress" class="form-label">Matrícula:</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-6">
      <label for="inputAddress2" class="form-label">Senha:</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>

    <div class="col-md-6">
      <label for="inputState" class="form-label">Líder:</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>


    <div class="col-12">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>




</div>
